.info{
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.info__number{
    font-size: 0.8rem;
    font-weight: 600;
}
.info__feature{
    font-size: 0.8rem;
    font-weight: 800;
}
.info__value{
    font-size: 0.8rem;
    font-weight: 400;
}